<div class = 'container d-flex flex-column justify-content-center mx-auto px-3', style="max-width: 50%; min-height: 70vh; margin-bottom: 100px;">
  <div class = 'flex flex-col items-center justify-center'>
  <div class="my-4 w-full">
      <h6 class="fw-bold text-center">このサイトについて</h6>
    </div>
  <div class="mb-5 w-full">
    <div class="mx-4 text-center">
      <p>当サイトでは、誰かが作成したマップを閲覧したり、自身のオリジナルマップを公開することができます。</p>
      <p>思い出の場所や今後行ってみたい場所の地図をつくったり、だれかが作った地図から新しい発見をしてみてください。</p>
    </div>
  </div>

  <div class="my-4 w-full">
      <h6 class="fw-bold text-center">ログインについて</h6>
    </div>
  <div class="mb-2 w-full">
    <div class="mx-4 text-center">
      <p>当サイトはログインせずに投稿を閲覧することができます。</p>
      <p>ログインをすることで投稿機能、お気に入り機能を使うことができます。</p>
    </div>
  </div>
  </div>
</div>