<footer id='footer' class='pt-2 py-2 footer-bottom bg-light fixed-bottom'>
  <div class='container'>
    <div class='copyright'>
      <div class="d-flex flex-column align-items-center">
        <!-- "Pinpoint" を上に配置 -->
        <h4>Pinpoint</h4>
        <!-- リンク群 -->
        <div class="d-flex justify-content-center">
          <%= link_to 'このサイトについて', how_to_use_path, class: 'mx-2 nav-link link-secondary' %>
          <%= link_to '利用規約', terms_of_use_path, class: 'mx-2 nav-link link-secondary' %>
          <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'mx-2 nav-link link-secondary' %>
          <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSeeaq6_X7Dl8ETym76bjWKpPiC89yXkcZ64qMEXSJ8GrRgQFw/viewform?usp=sf_link', class: 'mx-2 nav-link link-secondary' %>
        </div>
      </div>
    </div>
  </div>
</footer>