<div>
  <% if current_user == post.user %>
    <i class="bi bi-star-fill text-body-tertiary"></i>
    <span class="text-secondary"><%= post.likes.count %></span>
  <% else %>
    <% if current_user.like?(post) %>
      <%= render 'unlike', { post: post } %>
    <% else %>
      <%= render 'like', { post: post } %>
    <% end %>
  <% end %>
</div>