<div id = 'js-mapheader'>
  <%= render 'posts/mapheader', post: post %>
</div>

	<div class="map">
		<div id="map">
	</div>

	<div type="text/javascript">
		<script>
			let pins = <%= raw(pins.to_json(only: [:latitude, :longitude, :name, :body, :address, :image])) %>;

			function initMap(){
				const map = new google.maps.Map(document.getElementById('map'), {
					zoom: 15
				});
				if (pins.length > 0) {
					let bounds = new google.maps.LatLngBounds();

					pins.forEach((pin) => {
						const position = { lat: parseFloat(pin.latitude), lng: parseFloat(pin.longitude) };

						const marker = new google.maps.Marker({
							position: position,
							map: map,
							name: pin.name,
						});

						bounds.extend(position);

						var contentString = `
								<h7 class="fw-bold float">${pin.name}</h7><br>
								${pin.address ? '<p>住所：' + pin.address + ' </p>' : ''}
								<h7>${pin.body}</h7></br>
								${pin.image.url ? '<img src="' + pin.image.url + '" width="300">' : ''}
						`;

						const infoWindow = new google.maps.InfoWindow({
							content: contentString,
						});

						marker.addListener("click", () => {
							infoWindow.open(map, marker);
						});
					});
					map.fitBounds(bounds);
				}else{
					const defaultCenter = { lat: 35.6812, lng: 139.7671 }; // 例：東京駅
					map.setCenter(defaultCenter);
				}
			}
			function updateMap(newPins) {
        pins = newPins;
        initMap();
      }
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVSaF9HyZVbk54X4fh-kcd_pA9wLeoUvI&callback=initMap" async defer></script>
	</div>