<div class="map">
  <div id="map"></div>
</div>

<div type="text/javascript">
	<script>
	  let map;
	  let newMarker;
	  let pins = <%= post.present? ? raw(post.pins.to_json(only: [:latitude, :longitude, :name, :body, :address, :image])) : '[]' %>;

		function initMap(){
			map = new google.maps.Map(document.getElementById('map'), {
				zoom: 15
			});
			if (pins.length > 0) {
				let bounds = new google.maps.LatLngBounds();

				pins.forEach((pin) => {
					const position = { lat: parseFloat(pin.latitude), lng: parseFloat(pin.longitude) };

					const marker = new google.maps.Marker({
						position: position,
						map: map,
						name: pin.name,
					});

					bounds.extend(position);

					var contentString = `
						<h7 class="fw-bold float">${pin.name}</h7><br>
						${pin.address ? '<p>住所：' + pin.address + ' </p>' : ''}
						<h7>${pin.body}</h7></br>
						${pin.image.url ? '<img src="' + pin.image.url + '" >' : ''}
					`;

					const infoWindow = new google.maps.InfoWindow({
						content: contentString,
					});

					marker.addListener("click", () => {
						infoWindow.open(map, marker);
					});
				});
				map.fitBounds(bounds);
			}else{
				const defaultCenter = { lat: 35.6812, lng: 139.7671 }; // 例：東京駅
				map.setCenter(defaultCenter);
			}
		}
		function updateMap(newPins) {
			pins = newPins;
			initMap();
		}
		document.addEventListener("click", function(event) {
      if (event.target.classList.contains("search-address-btn")) {
        const form = event.target.closest(".pin-fields");
        searchAddress(form);
        console.log(123)
      }
    });
  
    function searchAddress(form) {
      const address = form.querySelector(".address-input").value;
      const geocoder = new google.maps.Geocoder();

      geocoder.geocode({ address: address }, function(results, status) {
        if (status === "OK") {
          const location = results[0].geometry.location;

          // 緯度と経度のフィールドに値を入力
          form.querySelector(".latitude-input").value = location.lat();
          form.querySelector(".longitude-input").value = location.lng();

          // マーカーを設定
          if (newMarker) {
            newMarker.setMap(null);
          }
          newMarker = new google.maps.Marker({
            map: map,
            position: location,
          });

          // マップの中心を指定の住所に移動
          map.setCenter(location);
          map.setZoom(15);
        
        } else {
          alert("住所が見つかりませんでした: " + status);
        }
      });
    }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVSaF9HyZVbk54X4fh-kcd_pA9wLeoUvI&callback=initMap" async defer></script>
</div>