<div class="col-sm-12">
  <div id="post-id-<%= post.id %>">    
    <div class="card">
      
      <%= link_to post.name, post_path(post) %>
      <div class = 'text-end'>
        <%= post.created_at %>
      </div>
    </div>
  </div>
</div>