<div class="container-fluid form-container">
  <div class="row">
    <div class="col-md-4 col-12 mt-4">
      <div class="card p-0">
        <div class="card-title bg-light">
          <h5>投稿一覧</h5>
        </div>
        <% if @posts.empty? %>
          <p>掲示板がありません</p>
        <% else %>
          <div class = 'index-container'>
            <%= render @posts %>
          </div>
        <% end %>
      </div>
    </div>

  <div class="col-md-auto col-12 p-0 mt-4">
    <div class="map">
      <div id="map">
      </div>
    </div>

    <div type="text/javascript">
      <script>
        function initMap(){
          let map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.6803997, lng: 139.7690174 },
          zoom: 15
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVSaF9HyZVbk54X4fh-kcd_pA9wLeoUvI&callback=initMap" async defer></script>
    </div>
  </div>
</div>