<% content_for(:title, 'マイページ') %>
<div class="container-fluid">
  <div class="row mx-1">
    <div class="col-4 mt-4">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="myposts-tab" data-bs-toggle="tab" data-bs-target="#myposts" type="button" role="tab" aria-controls="myposts" aria-selected="true">投稿</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="like-tab" data-bs-toggle="tab" data-bs-target="#like" type="button" role="tab" aria-controls="like" aria-selected="false">お気に入り</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="myposts" role="tabpanel" aria-labelledby="myposts-tab">
          <% if @myposts.empty? %>
            <p>投稿がありません</p>
          <% else %>
            <div class = 'index-container'>
              <% @myposts.each do |post| %>
                <%= render post %>
              <% end %>
            </div>
          <% end %>
        </div>
      <div class="tab-pane fade" id="like" role="tabpanel" aria-labelledby="like-tab">
        <% if @likeposts.empty? %>
          <p>投稿がありません</p>
        <% else %>
          <div class = 'index-container'>
            <% @likeposts.each do |post| %>
              <%= render post %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    </div>

    <div class="col-8 p-0 mt-4">
      <div id = 'js-mapheader'>
        <%= render 'posts/mapheader', post: @post %>
      </div>
      <%= render 'map', { post: @post} %>
    </div>
  </div>
</div>