<% content_for(:title, @post.name) %>

<div class="container-fluid">
<div class = 'mt-2 mx-5'>
      <div id = 'js-mapheader'>
        <%= render 'posts/mapheader', post: @post %>
      </div>
      <%= render 'map', { post: @post, pins: @pins } %>
      </div>
</div>